<!DOCTYPE html>
<html lang="en">
<head>
    <title>www.xxyyzz.com</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/content/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="/content/css/unicorn.login.css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    
    <style type="text/css">
        body
        {
            font-family: Microsoft Yahei;
            font-size: 14px;
        }
    </style>
</head>
<body>
    <div id="logo">
        <div style="height:31px"></div>
    </div>
    <div id="loginbox">
        <form id="loginform">
            <h4>找回密码</h4>
            <div class="control-group">
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-user"></i></span>
                        <input type="text" class="{required:true,messages:{required:'用户名不能为空'}}" id="txtUsername" placeholder="用户名" />
                    </div>
                </div>
            </div>
            <div style="height: 10px"></div>
            <div class="control-group">
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-mobile-phone icon-large"></i></span>
                        <input type="text" class="{required:true,mobile:true,messages:{required:'手机号不能为空'}}" id="hPhoneNum" placeholder="手机号" />
                    </div>
                </div>
            </div>
            <div style="height: 10px"></div>
            <div class="control-group">
                <div class="controls">
                    <div class="input-prepend" style="display:inline">
                        <span class="add-on"><i class="icon-barcode"></i></span>
                        <input type="text" style="width:100px" id="txtPhoneCheck" placeholder="6位手机验证码" />
                    </div>
                    <input type="button" id="getCode" style="width:103px; margin-left:4px;display:inline" class="btn btn-info" value="获取验证码" onclick="getMobileCode(this)" />
                </div>
            </div>
            <div style="margin: -10px; text-align: left; padding-left: 85px;height:20px">
                <span id="lblmsg" style="color: Red">&nbsp;</span>
            </div>
            <div class="form-actions" style="padding: 5px 0px 5px 0px">
                <input type="button" id="btnCheck" class="btn btn-inverse" value="确定" />
                <input type="button" id="btnBack" class="btn" style="margin-left: 30px;" value="返回" />
            </div>
            <div style="margin-top: -12px">@ThrFrd.GameTrans.Infrastructure.Configuration.SiteSettings.CompanyName 版权所有 &copy;Copyright 2013</div>
        </form>
        
        <form id="NewPwdform" style="display:none">
            <h4>找回密码</h4>
            <div style="height:50px" id="myAlert">
            </div>
            <div class="control-group">
                <div class="controls">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-lock"></i></span>
                        <input type="password" class="{required:true,messages:{required:'用户名不能为空'}}" id="txtPassword" placeholder="请输入新密码" />
                    </div>
                </div>
            </div>
            <div style="margin-top: 35px; text-align: left; padding-left: 85px;height:20px">
                <span id="newlblmsg" style="color: Red">&nbsp;</span>
            </div>
            <div class="form-actions" style="padding: 5px 0px 5px 0px">
                <input type="button" id="NewbtnCheck" class="btn btn-inverse" value="完成" />
                <a class="btn btn-inverse" id="login" style="display:none" href="/account/login">返回登录</a>
                <input type="button" id="NewbtnBack" class="btn" style="margin-left: 30px;" value="返回" />
            </div>
            <div style="margin-top: -12px">@ThrFrd.GameTrans.Infrastructure.Configuration.SiteSettings.CompanyName 版权所有 &copy;Copyright 2013</div>
        </form>
    </div>
</body>
</html>

<script src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/jquery.metadata.js"></script>
<script type="text/javascript" src="/scripts/jquery.validate.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnBack").click(function () {
            location.href = decodeURIComponent("/home/index");
        });

        $('#btnCheck').click(function () {
            $("#lblmsg").html('');
            var username = $("#txtUsername").val();
            var phone = $("#hPhoneNum").val();
            var code = $("#txtPhoneCheck").val();
            if (username == "") {
                $("#txtUsername").attr("placeholder", "请输入用户名");
                $("#lblmsg").html('请输入用户名');
                $("#txtUsername").focus();
                return;
            }
            if (!/^(13|15|18)\d{9}$/.test(phone) || phone == "") {
                $("#hPhoneNum").attr("placeholder", "手机号有误");
                $("#lblmsg").html('手机号有误');
                $("#hPhoneNum").focus();
                return;
            }
            if (code == "" || code.length != 6) {
                $("#lblmsg").html('请输入6位验证码');
                code.focus();
                return;
            }
            else {
                $.ajax({
                    type: 'post',
                    cache: false,
                    url: '/account/CheckShortMessageCodeforResetPWD',
                    data: 'userName=' + username + '&mobile=' + phone + '&mobilecode=' + code,
                    success: function (result) {
                        if (result == "0") {
                            $("#lblmsg").html('验证码有误');
                        }
                        else if (result == "-2") {
                            $("#lblmsg").html('手机号有误');
                        }
                        else if (result == "-1") {
                            $("#lblmsg").html('用户名有误');
                        }
                        else {
                            $("#lblmsg").html('');
                            $("#loginform").css("display", "none");
                            $("#NewPwdform").css("display", "inline");
                        }
                    },
                    error: function () {
                        $("#lblmsg").html("系统错误,请与系统管理员联系!");
                    },
                    beforeSend: function () {
                        $("#btnCheck").text("验证中...");
                        $("#btnCheck").attr("disabled", true);
                    },
                    complete: function () {
                        $("#btnCheck").text("确定");
                        $("#btnCheck").attr("disabled", false);
                    }
                });
            }
        });

        $("#NewbtnBack").click(function () {
            location.href = decodeURIComponent("/account/resetpassword");
        });

        $('#NewbtnCheck').click(function () {
            $("#lblmsg").html('');
            var username = $("#txtUsername").val();
            var phone = $("#hPhoneNum").val();
            var code = $("#txtPhoneCheck").val();
            var pwd = $("#txtPassword").val();
            if (username == "") {
                return;
            }
            if (!/^(13|15|18)\d{9}$/.test(phone) || phone == "") {
                return;
            }
            if (code == "" || code.length != 6) {
                return;
            }
            if (pwd == "") {
                $("#txtUsername").attr("placeholder", "请输入新密码");
                $("#lblmsg").html('请输入新密码');
                pwd.focus();
                return;
            }
            else {
                $.ajax({
                    type: 'post',
                    cache: false,
                    url: '/account/CheckShortMessageCodeforResetPWD',
                    data: 'userName=' + username + '&mobile=' + phone + '&mobilecode=' + code,
                    success: function (result) {
                        if (result == "1") {
                            $("#newlblmsg").html('');
                            $.ajax({
                                type: 'post',
                                cache: false,
                                url: '/account/ResetPWD',
                                data: 'userName=' + username + '&mobile=' + phone + '&mobilecode=' + code+'&pwd='+pwd,
                                success: function (result) {
                                    if (result == "1") {
                                        $("#newlblmsg").html('');
                                        $("#myAlert").removeAttr("style", "height");
                                        $("#myAlert").addClass("alert alert-success");
                                        $("#myAlert").append("<strong>修改成功！</strong>");
                                        $("#txtPassword").attr("disabled","disabled");
                                        $("#NewbtnCheck").hide();
                                        $("#login").show();
                                    }
                                    else {
                                        $("#newlblmsg").html('修改失败');
                                    }
                                }
                            })
                        }
                        else {
                            $("#newlblmsg").html('修改失败');
                        }
                    },
                    error: function () {
                        $("#lblmsg").html("系统错误,请与系统管理员联系!");
                    },
                });
            }
        });
    });

    var interval;
    var time = 60;
    function getMobileCode(sender) {
        $("#lblmsg").html('');
        var username = $("#txtUsername").val();
        var phone = $("#hPhoneNum").val();
        if (username == "") {
            $("#txtUsername").attr("placeholder", "请输入用户名");
            $("#lblmsg").html('请输入用户名');
            $("#txtUsername").focus();
            return;
        }
        if (!/^(13|15|18)\d{9}$/.test(phone) || phone == "") {
            $("#hPhoneNum").attr("placeholder", "手机号有误");
            $("#lblmsg").html('手机号有误');
            $("#hPhoneNum").focus();
            return;
        }
        $.ajax({
            url: '/account/getcodeforResetpassword',
            data: {
                name: username,
                mobile: phone
            },
            beforeSend: function () {
                time = 60;
                $(sender).attr('disabled', 'disabled');
            },
            success: function (result) {
                if (result == "1") {
                    interval = window.setInterval(function () {
                        if (time > 0) {
                            $(sender).val(time-- + '秒重新获取');
                        } else {
                            window.clearInterval(interval);
                            time = 60;
                            $(sender).removeAttr('disabled').val('获取验证码');
                        }
                    }, 1000);
                } else if (result == "0") {
                    $(sender).removeAttr('disabled').val('获取验证码');
                }
                else {
                    $(sender).removeAttr('disabled').val('获取验证码');
                    $("#lblmsg").html(result);
                }
            }
        });
    }

</script>